<div>
  <h1><%= @hike.name %></h2>
  <ul>

  <% @points.each do |point| %>

    <ul>
      <li>Date: <%= point.date %></li>
      <li>Mileage: <%= point.mileage %></li>
    </ul>

  <% end %>

  <ul>
</div>

