<h1>ThruHike Tracker</h1>
<h2>An app for tracking your backpacking trips and long distance hikes</h2>

<ul>Users</ul>
  <% @users.each do |user| %>
  <li>
    <form action="/hikes" method="post">
      <input type="hidden" name="user_id" value="<%= user.id %>">
      <input type="submit" value="<%= user.user_name %>">
    </form>
  </li>
  <% end %>

