<% if logged_in? %>
  <form action="/hikes" method="GET">
    <button>My Hikes</button>
  </form>
<% else %>
  <form action="/sign_in" method="GET">
    <button>Sign In</button>
  </form>
  
  <form action="/sign_up" method="GET">
    <button>Sign Up</button>
  </form>
<% end %>