<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title Goes Here</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/stylesheet.css">
  </head>
  <body>
  <header>
    <div class="header">
      <h2>Hike Hub</h2>
    </div>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
