<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title Goes Here</title>
    <meta charset="utf-8">
  </head>
  <header>

    <div class="header">
      <h2>Hike Hub</h2>
      <% if session[:message] %>
        <p style="color:orange"><em><%= session.delete(:message) %></em></p>
      <% end %>
    </div>

  </header>
  <body>

    <div class="content">
      <%== yield %>
    </div>

    <div class="directory">
      <% if logged_in? %>
        <form action="/logout" method="GET">
          <button>Log Out</button>
        </form>
      <% end %>
      <% unless request.path_info == "/" %>
        <form action="/" method="GET">
          <button>Home</button>
        </form>
      <% end %>
    </div>

  </body>
</html>
