<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title Goes Here</title>
    <meta charset="utf-8">
  </head>
  <header>

    <div class="header">
      <h2>Hike Hub</h2>
      <% if session[:message] %>
        <p style="color:orange"><%= session.delete(:message) %></p>
      <% end %>
    </div>

  </header>
  <body>

    <div class="content">
      <%= yield %>
    </div>

  </body>
</html>
