<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title Goes Here</title>
    <meta charset="utf-8">
  </head>
  <header>

    <div class="header">
      <h2>Hike Hub</h2>
      <% if session[:message] %>
        <p style="color:orange"><em><%= session.delete(:message) %></em></p>
      <% end %>
    </div>

  </header>
  <body>

    <div class="content">
      <%= yield %>
    </div>

    <% if logged_in? %>
      <div class="footer">
        <form action="/logout" method="GET">
          <button>Log Out</button>
        </form>
      </div>
    <% end %>
  </body>
</html>
