<h1>Enter the Details for Your New Hike</h1>

<form action="/hikes/new" method="POST">
  <label for="name">Enter the name of this hike: </label>
  <input type="text" name="name" required>

  <label for="start_mileage">Enter the starting mileage: </label>
  <input type="number"
         name="start_mileage"
         min="0"
         step="0.01"
         required>

  <label for="finish_mileage">Enter the end mileage: </label>
  <input type="number"
         name="finish_mileage"
         min="0"
         step="0.01"
         required>

  <button>Create Hike</button>
</form>
