<form method="POST" action="/sign_in">
  <div>
    <label for="user_name"> Username:
      <input name="user_name" id="user_name" value="<%= params[:user_name] %>" required/>
    </label>
  </div>
  <div>
    <label for="password"> Password:
      <input type="password" id="password" value="<%= params[:password] %>" name="password" required/>
    </label>
  </div>
  <button type="submit">Sign In</button>
</form>